{
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "modules": true
  },
  "rules": {
    "quotes": [2, "single"]
  }
}
