<!-- htmlhint doctype-first:false -->

<div id="top-nav" class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href class="navbar-brand" ui-sref="home.map">FDA Food Recalls</a>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" ng-if="ctrl.isIntroDisplayed">
      <div class="alert alert-info">
        <button type="button" class="close" ng-click="ctrl.isIntroDisplayed = false;"><span aria-hidden="true">&times;</span></button>
        <p><strong>Usage</strong></p>
        <p>
          This is a tool for reviewing FDA recalls on food products based on originating and
          distribution states on a month by month basis. The tool was created as a
          response to 18F's RFQ 4QTFHS150004 by
          <a class="alert-link" href="http://www.sbcs.com">Strictly Business Computer Systems</a>.
        </p>
        <p>
          Use the criteria below to filter the results displayed on the map of the
          United States. Click on a state to review the recalls affecting that state.
        </p>
      </div>
    </div>
  </div>
</div>

<ui-view></ui-view>
