recall-card {
  .product-description {
    &.collapsed {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: calc(100% - 30px);
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
    }
  }
    
  .card-label {
    text-transform: uppercase;
    font-size: 85%;
    color: #777777;
  }
}
