<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div class="form-group">
        <label for="selectMonth">Month</label>
        <select class="form-control" id="selectMonth" ng-model="ctrl.criteria.month"
          ng-options="month.month as month.name for month in ctrl.months"
          ng-change="ctrl.selectMonth(ctrl.criteria.month)"></select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div class="form-group">
        <label for="selectYear">Year</label>
        <select class="form-control" id="selectYear" ng-model="ctrl.criteria.year"
          ng-options="year for year in ctrl.years"
          ng-change="ctrl.selectYear(ctrl.criteria.year)"></select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div class="form-group">
        <label for="selectClassification">Classification</label>
        <select class="form-control" id="selectClassification" ng-model="ctrl.criteria.classification"
          ng-options="classification for classification in ctrl.classifications"
          ng-change="ctrl.selectClassification(ctrl.criteria.classification)"></select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div class="form-group">
        <label for="selectStatus">Status</label>
        <select class="form-control" id="selectStatus" ng-model="ctrl.criteria.status"
          ng-options="status for status in ctrl.statuses"
          ng-change="ctrl.selectStatus(ctrl.criteria.status)"></select>
      </div>
    </div>
  </div>
</div>


<us-map recalls-by-state="ctrl.recallsByState" selected="selected"></us-map>

<div class="container-fluid" ng-if="selected">
  <h1>{{ selected.metadata.recalls.length }} food product recalls originating from {{ selected.metadata.name }}</h1>
</div>

<div class="row">
<recalls-list recalls="selected.metadata.recalls"></recalls-list>
</div>
