<div class="container-fluid">
  <div class="row">

    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <label for="selectMonth">Month</label>
        <select class="form-control" id="selectMonth" ng-model="ctrl.criteria.month"
          ng-options="month.month as month.name for month in ctrl.months"
          ng-change="ctrl.setFilter('month', ctrl.criteria.month, true)"></select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <label for="selectYear">Year</label>
        <select class="form-control" id="selectYear" ng-model="ctrl.criteria.year"
          ng-options="year for year in ctrl.years"
          ng-change="ctrl.setFilter('year', ctrl.criteria.year, true)"></select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <label for="selectClassification">Classification</label>
        <select class="form-control" id="selectClassification" ng-model="ctrl.criteria.classification"
          ng-options="classification for classification in ctrl.classifications"
          ng-change="ctrl.setFilter('classification', ctrl.criteria.classification)"><option /></select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <label for="selectStatus">Status</label>
        <select class="form-control" id="selectStatus" ng-model="ctrl.criteria.status"
          ng-options="status for status in ctrl.statuses"
          ng-change="ctrl.setFilter('status', ctrl.criteria.status)"><option /></select>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <label for="selectCompany">Company</label>
        <input type="text" class="form-control" id="selectCompany"
               ng-model="ctrl.criteria.company"
               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 }}"
               ng-change="ctrl.setFilter('company', ctrl.criteria.company)" />
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <label for="selectProduct">Product</label>
        <input type="text" class="form-control" id="selectProduct"
               ng-model="ctrl.criteria.product"
               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 }}"
               ng-change="ctrl.setFilter('product', ctrl.criteria.product)" />
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <label for="selectReason">Reason</label>
        <input type="text" class="form-control" id="selectReason"
               ng-model="ctrl.criteria.reason"
               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 }}"
               ng-change="ctrl.setFilter('reason', ctrl.criteria.reason)" />
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Group by</label>
        <div class="btn-group" style="width: 100%">
          <div class="btn btn-default" ng-click="ctrl.setFilter('groupBy', 'origination')" ng-class="{ active: ctrl.isFilterActive('groupBy', 'origination')  }">Originated from</div>
          <div class="btn btn-default" ng-click="ctrl.setFilter('groupBy', 'distribution')" ng-class="{ active: ctrl.isFilterActive('groupBy', 'distribution') }">Distributed to</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Count by</label>
        <div class="btn-group" style="width: 100%">
          <div class="btn btn-default" ng-click="ctrl.setFilter('countBy', 'recalls')" ng-class="{ active: ctrl.isFilterActive('countBy', 'recalls') }">Recalls</div>
          <div class="btn btn-default" ng-click="ctrl.setFilter('countBy', 'products')"  ng-class="{ active: ctrl.isFilterActive('countBy', 'products')  }">Recalled Products</div>
        </div>
      </div>
    </div>

  </div>
</div>

<us-map recalls-by-state="ctrl.recallsByState" selected="ctrl.criteria.selectedState" count-by="ctrl.criteria.countBy"></us-map>
<!-- Selected: {{ ctrl.selectedState }} -->

<div class="container-fluid recalls-summary" ng-if="ctrl.selectedState">
  <span class="value">{{ ctrl.selectedState.recalls.length }}</span>
  <ng-pluralize count="selected.filteredRecalls.length" when="{'0': 'recalls', '1': 'recall', 'other': 'recalls'}"></ng-pluralize>
  affecting
  <span class="value">{{ ctrl.selectedState.productCount }}</span>
  <ng-pluralize count="ctrl.selectedState.productCount" when="{'0': 'products', '1': 'product', 'other': 'products'}"></ng-pluralize>

  <span ng-if="ctrl.isFilterActive('groupBy', 'origination')">originating from</span>
  <span ng-if="ctrl.isFilterActive('groupBy', 'distribution')">distributed to</span>

  <span class="value">{{ ctrl.selectedState.name }}</span>
</div>

<div class="container-fluid recalls-summary" ng-if="!ctrl.selectedState">
  <span class="value">{{ ctrl.filteredRecalls.length }}</span>
  <ng-pluralize count="ctrl.filteredRecalls.length" when="{'0': 'recalls', '1': 'recall', 'other': 'recalls'}"></ng-pluralize>
  affecting
  <span class="value">{{ ctrl.productCount }}</span>
  <ng-pluralize count="ctrl.productCount" when="{'0': 'products', '1': 'product', 'other': 'products'}"></ng-pluralize>
</div>

<div class="row">
  <recalls-list recalls="ctrl.selectedState.recalls || ctrl.filteredRecalls"></recalls-list>
</div>
