<!-- htmlhint doctype-first:false -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="form-group">
        <label for="selectMonth">Month</label>
        <select class="form-control" id="selectMonth" ng-model="ctrl.criteria.month"
          ng-options="month.month as month.name for month in ctrl.months"
          ng-change="ctrl.selectMonth(ctrl.criteria.month)"></select>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="form-group">
        <label for="selectYear">Year</label>
        <select class="form-control" id="selectYear" ng-model="ctrl.criteria.year"
          ng-options="year for year in ctrl.years"
          ng-change="ctrl.selectYear(ctrl.criteria.year)"></select>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="selectState">State</label>
        <select class="form-control" id="selectState" ng-model="ctrl.criteria.state"
          ng-options="state.abbr as state.name for state in ctrl.states"
          ng-change="ctrl.selectState(ctrl.criteria.state)"></select>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <div class="btn-group" role="group">
    <button ng-repeat="month in ctrl.months"
      ng-disabled="!ctrl.isValidMonth(month)"
      class="btn"
      ng-class="{ 'btn-default': !ctrl.isMonthSelected(month), 'btn-primary': ctrl.isMonthSelected(month) }"
      ng-click="ctrl.selectMonth(month)">
      {{ month.name }}
    </button>
  </div>
</div>
<div class="text-center">
  <div class="btn-group" role="group">
    <button ng-repeat="year in ctrl.years"
      ng-disabled="!ctrl.isValidYear(year)"
      class="btn"
      ng-class="{ 'btn-default': !ctrl.isYearSelected(year), 'btn-primary': ctrl.isYearSelected(year) }"
      ng-click="ctrl.selectYear(year)">
      {{ year }}
    </button>
  </div>
</div>
<div class="text-center">
  <div class="btn-group" role="group">
    <button ng-repeat="state in ctrl.states"
      class="btn"
      ng-class="{ 'btn-default': !ctrl.isStateSelected(state), 'btn-primary': ctrl.isStateSelected(state) }"
      ng-click="ctrl.selectState(state)">
      {{ state.name }}
    </button>
  </div>
</div>

<br>

<!-- TODO: Apply filtering to recalls -->
<recalls-list recalls="ctrl.recalls"></recalls-list>
