<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12" ng-if="!recalls">
      <div class="alert alert-info">Please select a state</div>
    </div>

    <div class="col-xs-12" ng-if="recalls.length === 0">
      <div class="alert alert-info">No recalls</div>
    </div>

    <div class="col-sm-6 col-lg-4" ng-repeat-start="recall in recalls">
      <recall-card recall="recall"></recall-card>
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div ng-if="$index % 3 === 2" class="clearfix visible-lg-block"></div>
    <div ng-repeat-end ng-if="$index % 2 === 1" class="clearfix visible-sm-block"></div>

  </div>
</div>
