// Override the file path for the fonts so they are all in the /fonts
// directory instead of /fonts/bootstrap
$icon-font-path: "../fonts/";

$navbar-inverse-bg: #428bca;
$navbar-inverse-brand-color: #eee;
